@import "backbone.scss";

/* hero img */

.landing-hero {
	width: 100%;
	min-width: 970px;
	height: 377px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px -260px;
	background-image: url("../img/landing-hero.jpg");
}

.landing-hero-overlay {

}

.lecturer-popup {
	width: 360px;
	height: 150px;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
	border-radius: 5px;
	position: absolute;
	padding: 30px 0 0 30px;
	right: 55px;
	top: 305px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
    z-index: 10;
    @media screen and (max-width: 39.9375em) {
      display: none;
    }
	.column-1 {
		display: flex;
		flex-direction: column;
		width: 80%;
		padding-bottom: 27px;
		.content {
			@extend .p-arial-bold;
			margin-bottom: 15px;
		}
		.author {
			@extend .p-arial;
			color: $blue;
			margin: -7px 0px 0px 0px;
		}
	}
	.column-2 {
		display: flex;
		flex-direction: column;
		padding-bottom: 10px;
		padding-right: 12px;
		.exit-prompt {
			color: #2699FB;
			margin-left: 70%;
			margin-top: -15px;
			align-self: right;
		}
		img {
			width: 48px;
			height: 48px;
			border-radius: 100%;
			margin-top: calc(100% + 15px);
		}
	}
}

.landing-hero-overlay {
  width: 55%;
  min-width: 300px;
  height: 377px;
  position: absolute;
  padding: 0 50px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+25,ffffff+50,ffffff+75,ffffff+100&1+0,0.65+25,0.5+50,0.25+75,0+100 */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.65) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.25) 75%, rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.65) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.25) 75%, rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.65) 55%, rgba(255, 255, 255, 0.5) 65%, rgba(255, 255, 255, 0.25) 85%, rgba(255, 255, 255, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1); /* IE6-9 */
  @media screen and (max-width: 39.9375em) {
    padding: 0 20px;
  }
  p {
    text-transform: capitalize;
    color: #303030;
    font-size: 20px;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 0px;
    height: 25px;
    margin-top: 90px;
  }
  h1 {
    @extend .h1-opensans;
  }
}

.join-btn {
	@extend .button-blue;
	p {
		@extend .p-arial-bold;
		margin: 0px;
		padding: 0.7rem 0rem !important;
		line-height: 15px !important;
		font-size: 11px;
		text-transform: uppercase;
	}
}

/* content */

.featured-students-orbit {
	max-width: 360px;
	min-height: 465px;
	border-radius: 5px;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
	margin: 70px auto 0px auto;
	text-align: center;
	padding: 0px 40px 10px 40px;
  .user-icon {
    @extend .user-icon-84;
    margin: 50px auto 0px auto;
  }
  .username {
    color: #2699FB;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 24px;
  }
  .content {
    @extend .p-opensans;
  }
}

.slide-status {
	height: 15px;
	position: relative;
	margin: 43px auto 0px auto;
	width: 90px;
}

.status-bubble {
	width: 6px;
	height: 6px;
	background-color: #BCE0FD;
	border-radius: 100%;
	float: left;
	margin-top: 5px;
}

.bubble-2, .bubble-3, .bubble-4 {
	margin: 5px 5px;
}

.bubble-1, .bubble-2 {
	margin-left: 10px;
}

.bubble-4 {
	margin-right: 10px;
}

.current-slide {
	background-color: #2699FB !important;
}

.slide-arrow {
	color: #BCE0FD;
	float: left;
}

.landing-content {
	margin-top: 90px;
	padding: 0px 15px;
  h1{
    @extend .h1-opensans;
  }
  .content{
    color: #303030;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    font-weight: normal;
    margin-top: 30px;
    max-width: 950px;
  }
}

.quote-container {
	margin-top: 62px;
  .content-quote {
    color: #2699FB;
    font-size: 18px;
    margin-bottom: 18px;
  }
  .quote-text {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-style: italic;
    color: #2699FB;
  }
  .quote-author {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.40);
  }
}

.content-img {
	width: 100%;
	max-width: 360px;
	margin-top: 50px;
}

.featured-websites-orbit {
	max-width: 360px;
	min-height: 502px;
	border-radius: 5px;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
	margin: 70px auto 0px auto;
	padding: 25px 25px 25px 25px;
  .web-preview {
    width: 100%;
    margin-top: 30px;
    min-height: 342px;
    background-image: url("../img/preview-web.PNG");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .top-div-master {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    .top-div {
      width: 80%;
      .title {
        color: #303030;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        line-height: 24px;
        font-weight: bold;
      }
      .website-link {
        display: flex;
        flex-direction: row;
        color: $blue;
        p {
          @extend .p-arial-bold;
          color: $blue;
          margin-left: 15px;
          line-height: 16px;
          margin-bottom: 0px;
        }
      }
    }
    .top-div-2 {
      display: flex;
      flex-direction: row;
      .user-icon {
        @extend .user-icon-48;
        margin: 0px;
        align-self: flex-end;
      }
    }
  }
}

.content-section-2 {
	margin-top: 100px;
}

.landing-content {
	h2 {
    @extend .h1-opensans;
		margin: 0px 0px 30px -3px;
  }
}

.landing-content-2 {
  @media screen and (min-width: 40em) {
    padding: 50px 0px 0px 0px;
  }
}

.landing-content-2-last {
  margin-top: 170px;
}








