/*define variables */
/* mixins */
/* document */
html {
  overflow-x: hidden; }

body {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  background-color: #F5F8FB;
  overflow-x: hidden; }

.grid-x {
  margin: 0px; }

.grid-container {
  padding: 0px;
  margin: 0px;
  width: 100%;
  max-width: 100%;
  min-width: 100%; }

/* content styles */
.h1-opensans, h1, .landing-hero-overlay h1, .landing-content h1, .landing-content h2 {
  text-transform: capitalize;
  color: #303030;
  font-size: 40px;
  line-height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 0px; }

.p-arial, .footer-secondary .terms-conditions .copyright-text, .footer-secondary .terms-conditions .terms-conditions-text a, .footer-secondary .terms-conditions .terms-conditions-text p, .lecturer-popup .column-1 .author {
  color: #303030;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 24px;
  font-weight: normal; }

.p-opensans, .content, .input-1, .textfield-1, .footer-base .footer-news-letter-wrap p, .featured-students-orbit .content {
  color: #303030;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-weight: normal; }

.p-arial-bold, .button-blue-2 .button-blue-2-text, .button-blue-2 .subscribe-button-text, .button-blue-3 .button-blue-3-text, .button-blue-3-icon .button-blue-3-text, .lecturer-popup .column-1 .content, .join-btn p, .featured-websites-orbit .top-div-master .top-div .website-link p {
  color: #303030;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 24px;
  font-weight: bold; }

.p-opensans-bold, .footer-base .footer-news-letter-wrap .p-heading, .footer-base .footer-links .footer-ul .first-li, .footer-base .footer-links .mobile-nav-links .first-li {
  color: #303030;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-weight: bold; }

.p-opensans-semibold, .footer-base .footer-links .footer-ul li {
  color: #303030;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-weight: 600; }

.p-arial-italic {
  color: #303030;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 24px;
  font-weight: normal;
  font-style: italic; }

.p-opensans-italic {
  color: #303030;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-weight: normal;
  font-style: italic; }

/* buttons */
.button-blue, .login-btn, .join-btn {
  height: 40px;
  width: 120px;
  border: 2px solid #2699FB;
  border-radius: 5px;
  text-align: center; }

.button-blue-2 {
  height: 40px;
  background-color: #2699FB;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0px; }
  .button-blue-2 .button-blue-2-text, .button-blue-2 .subscribe-button-text {
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF; }

.button-blue-3 {
  height: 40px;
  width: 105px;
  background-color: #2699FB;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0px; }
  .button-blue-3 .button-blue-3-text {
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF; }
  @media only screen and (max-width: 40em) {
    .button-blue-3 {
      width: 100%; } }

.button-blue-3-icon {
  height: 40px;
  width: 105px;
  background-color: #2699FB;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0px; }
  .button-blue-3-icon .button-blue-3-text {
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF; }
  @media only screen and (max-width: 40em) {
    .button-blue-3-icon {
      width: 100%; } }

/* input */
.input-1 {
  border: 1px solid #BCE0FD;
  height: 40px;
  border-radius: 4px;
  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0px; }
  .input-1 ::-webkit-input-placeholder {
    color: rgba(48, 48, 48, 0.4); }
  .input-1 :-ms-input-placeholder {
    color: rgba(48, 48, 48, 0.4); }
  .input-1 ::-ms-input-placeholder {
    color: rgba(48, 48, 48, 0.4); }
  .input-1 ::placeholder {
    color: rgba(48, 48, 48, 0.4); }
  .input-1:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #FFFFFF;
    border: 1px solid #2699FB; }

.textfield-1 {
  border: 1px solid #BCE0FD;
  min-height: 120px;
  min-width: 190px;
  width: 100%;
  border-radius: 4px;
  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0px; }
  .textfield-1 ::-webkit-input-placeholder {
    color: rgba(48, 48, 48, 0.4); }
  .textfield-1 :-ms-input-placeholder {
    color: rgba(48, 48, 48, 0.4); }
  .textfield-1 ::-ms-input-placeholder {
    color: rgba(48, 48, 48, 0.4); }
  .textfield-1 ::placeholder {
    color: rgba(48, 48, 48, 0.4); }
  .textfield-1:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #FFFFFF;
    border: 1px solid #2699FB; }

/* elements */
.line-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  width: 100%;
  height: 1px;
  margin: 5px auto; }

/* header */
.top-bar {
  height: 110px;
  background-color: #FFFFFF;
  padding: 0 40px 0 40px;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  z-index: 10 !important;
  position: fixed;
  /* styled for mobile */ }
  .top-bar a .top-bar-logo img {
    width: 154px; }
  .top-bar .top-bar-right ul {
    background-color: transparent; }
    .top-bar .top-bar-right ul li a {
      text-decoration: none;
      font-family: Arial;
      font-weight: bold;
      color: #303030;
      font-size: 11px;
      text-transform: uppercase;
      line-height: 20px; }
      .top-bar .top-bar-right ul li a .dropdown-last-element {
        padding-right: 38px; }
  .top-bar .slide-in-left.mui-leave {
    -webkit-transition-duration: 200ms !important;
    -o-transition-duration: 200ms !important;
    transition-duration: 200ms !important;
    -webkit-transition-timing-function: ease !important;
    -o-transition-timing-function: ease !important;
    transition-timing-function: ease !important; }
  .top-bar .slide-out-left.mui-leave {
    -webkit-transition-duration: 200ms !important;
    -o-transition-duration: 200ms !important;
    transition-duration: 200ms !important;
    -webkit-transition-timing-function: ease-out !important;
    -o-transition-timing-function: ease-out !important;
    transition-timing-function: ease-out !important; }
  @media screen and (max-width: 39.9375em) {
    .top-bar a .top-bar-logo img {
      width: 154px; }
    .top-bar .top-bar-right {
      position: absolute;
      top: 110px;
      left: 0;
      height: calc(100vh - 110px);
      width: 100vw;
      background-color: #FFFFFF; }
      .top-bar .top-bar-right ul {
        background-color: transparent; }
        .top-bar .top-bar-right ul li {
          width: 100%;
          text-align: center; }
          .top-bar .top-bar-right ul li a {
            text-decoration: none;
            font-family: Arial;
            font-weight: bold;
            color: #303030;
            font-size: 11px;
            text-transform: uppercase;
            line-height: 20px; } }

.title-bar {
  background-color: transparent; }
  .title-bar .menu-icon::after {
    background: #303030;
    -webkit-box-shadow: 0 7px 0 #303030, 0 14px 0 #303030 !important;
    box-shadow: 0 7px 0 #303030, 0 14px 0 #303030 !important; }

.dropdown.menu a {
  padding: 0.7rem 19px; }

.login-btn {
  margin-left: 19px; }
  .login-btn li a {
    padding: 0.7rem 0rem !important;
    line-height: 17px !important; }

.content-spacer {
  height: 110px;
  position: relative; }

/* footer */
.footer-base {
  background-color: #FFFFFF;
  min-height: 240px;
  margin-top: 20px; }
  .footer-base .footer-grid {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0px 5vw; }
  .footer-base .footer-news-letter-wrap {
    margin: 52px 0px 0px 0px; }
    .footer-base .footer-news-letter-wrap .footer-news-grid {
      max-width: 330px;
      margin: 0 auto; }
      .footer-base .footer-news-letter-wrap .footer-news-grid .submit-email-button {
        margin-left: 10px; }
        @media only screen and (max-width: 40em) {
          .footer-base .footer-news-letter-wrap .footer-news-grid .submit-email-button {
            margin-top: 15px;
            margin-left: 0px; } }
  .footer-base .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 50px;
    margin-right: 5vw;
    max-width: 350px; }
    .footer-base .footer-links .footer-ul li {
      font-size: 11px;
      list-style-type: none;
      text-transform: uppercase; }
    .footer-base .footer-links .footer-ul .first-li {
      text-transform: uppercase;
      font-size: 12px; }
    .footer-base .footer-links .mobile-nav-links {
      border-bottom: 1px solid #D0D0D0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      height: 30px;
      padding: 0px 5px; }
      .footer-base .footer-links .mobile-nav-links .first-li {
        text-transform: uppercase;
        font-size: 13px;
        margin-top: 3px; }
      .footer-base .footer-links .mobile-nav-links .link-expand {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-top: 5px;
        padding: 0px 4px 4px 4px; }
        .footer-base .footer-links .mobile-nav-links .link-expand .fa-plus {
          font-size: 12px;
          -webkit-transform: translateY(-2px);
          -ms-transform: translateY(-2px);
          transform: translateY(-2px); }
    .footer-base .footer-links .dropdown-pane {
      width: 100%;
      min-height: 30px;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: transparent;
      position: relative;
      padding: 10px 10px 0px 0px;
      top: 0px !important;
      left: 0px !important; }
  .footer-base .footer-links-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 30px;
    -webkit-box-pack: normal;
    -ms-flex-pack: normal;
    justify-content: normal; }

.footer-secondary {
  background-color: #2699FB;
  min-height: 50px; }
  .footer-secondary .terms-conditions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .footer-secondary .terms-conditions .copyright-text {
      color: #FFFFFF;
      font-size: 11px;
      line-height: 50px;
      padding: 0px;
      margin: 0px 0px 0px 46px; }
    .footer-secondary .terms-conditions .terms-conditions-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .footer-secondary .terms-conditions .terms-conditions-text a, .footer-secondary .terms-conditions .terms-conditions-text p {
        line-height: 40px;
        color: #FFFFFF;
        font-size: 11px;
        padding: 5px;
        height: 14px; }
      .footer-secondary .terms-conditions .terms-conditions-text .last {
        margin: 0px 46px 0px 0px; }

/* user icon */
.user-icon-84, .featured-students-orbit .user-icon {
  width: 84px;
  height: 84px;
  border-radius: 100%; }

.user-icon-62 {
  width: 62px;
  height: 62px;
  border-radius: 100%; }

.user-icon-48, .featured-websites-orbit .top-div-master .top-div-2 .user-icon {
  width: 48px;
  height: 48px;
  border-radius: 100%; }

.user-icon-40 {
  width: 40px;
  height: 40px;
  border-radius: 100%; }

/* hero img */
.landing-hero {
  width: 100%;
  min-width: 970px;
  height: 377px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -260px;
  background-image: url("../img/landing-hero.jpg"); }

.lecturer-popup {
  width: 360px;
  height: 150px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  position: absolute;
  padding: 30px 0 0 30px;
  right: 55px;
  top: 305px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 10; }
  @media screen and (max-width: 39.9375em) {
    .lecturer-popup {
      display: none; } }
  .lecturer-popup .column-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 80%;
    padding-bottom: 27px; }
    .lecturer-popup .column-1 .content {
      margin-bottom: 15px; }
    .lecturer-popup .column-1 .author {
      color: #2699FB;
      margin: -7px 0px 0px 0px; }
  .lecturer-popup .column-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 10px;
    padding-right: 12px; }
    .lecturer-popup .column-2 .exit-prompt {
      color: #2699FB;
      margin-left: 70%;
      margin-top: -15px;
      -ms-flex-item-align: right;
      align-self: right; }
    .lecturer-popup .column-2 img {
      width: 48px;
      height: 48px;
      border-radius: 100%;
      margin-top: calc(100% + 15px); }

.landing-hero-overlay {
  width: 55%;
  min-width: 300px;
  height: 377px;
  position: absolute;
  padding: 0 50px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+25,ffffff+50,ffffff+75,ffffff+100&1+0,0.65+25,0.5+50,0.25+75,0+100 */
  background: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0.65) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.25) 75%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0.65) 25%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.25) 75%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(white), color-stop(55%, rgba(255, 255, 255, 0.65)), color-stop(65%, rgba(255, 255, 255, 0.5)), color-stop(85%, rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0.65) 55%, rgba(255, 255, 255, 0.5) 65%, rgba(255, 255, 255, 0.25) 85%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, white 0%, rgba(255, 255, 255, 0.65) 55%, rgba(255, 255, 255, 0.5) 65%, rgba(255, 255, 255, 0.25) 85%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0.65) 55%, rgba(255, 255, 255, 0.5) 65%, rgba(255, 255, 255, 0.25) 85%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 */ }
  @media screen and (max-width: 39.9375em) {
    .landing-hero-overlay {
      padding: 0 20px; } }
  .landing-hero-overlay p {
    text-transform: capitalize;
    color: #303030;
    font-size: 20px;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding: 0px;
    height: 25px;
    margin-top: 90px; }

.join-btn p {
  margin: 0px;
  padding: 0.7rem 0rem !important;
  line-height: 15px !important;
  font-size: 11px;
  text-transform: uppercase; }

/* content */
.featured-students-orbit {
  max-width: 360px;
  min-height: 465px;
  border-radius: 5px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  margin: 70px auto 0px auto;
  text-align: center;
  padding: 0px 40px 10px 40px; }
  .featured-students-orbit .user-icon {
    margin: 50px auto 0px auto; }
  .featured-students-orbit .username {
    color: #2699FB;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 24px; }

.slide-status {
  height: 15px;
  position: relative;
  margin: 43px auto 0px auto;
  width: 90px; }

.status-bubble {
  width: 6px;
  height: 6px;
  background-color: #BCE0FD;
  border-radius: 100%;
  float: left;
  margin-top: 5px; }

.bubble-2, .bubble-3, .bubble-4 {
  margin: 5px 5px; }

.bubble-1, .bubble-2 {
  margin-left: 10px; }

.bubble-4 {
  margin-right: 10px; }

.current-slide {
  background-color: #2699FB !important; }

.slide-arrow {
  color: #BCE0FD;
  float: left; }

.landing-content {
  margin-top: 90px;
  padding: 0px 15px; }
  .landing-content .content {
    color: #303030;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    font-weight: normal;
    margin-top: 30px;
    max-width: 950px; }

.quote-container {
  margin-top: 62px; }
  .quote-container .content-quote {
    color: #2699FB;
    font-size: 18px;
    margin-bottom: 18px; }
  .quote-container .quote-text {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-style: italic;
    color: #2699FB; }
  .quote-container .quote-author {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4); }

.content-img {
  width: 100%;
  max-width: 360px;
  margin-top: 50px; }

.featured-websites-orbit {
  max-width: 360px;
  min-height: 502px;
  border-radius: 5px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  margin: 70px auto 0px auto;
  padding: 25px 25px 25px 25px; }
  .featured-websites-orbit .web-preview {
    width: 100%;
    margin-top: 30px;
    min-height: 342px;
    background-image: url("../img/preview-web.PNG");
    background-repeat: no-repeat;
    background-size: cover; }
  .featured-websites-orbit .top-div-master {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: stretch;
    align-content: stretch; }
    .featured-websites-orbit .top-div-master .top-div {
      width: 80%; }
      .featured-websites-orbit .top-div-master .top-div .title {
        color: #303030;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        line-height: 24px;
        font-weight: bold; }
      .featured-websites-orbit .top-div-master .top-div .website-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        color: #2699FB; }
        .featured-websites-orbit .top-div-master .top-div .website-link p {
          color: #2699FB;
          margin-left: 15px;
          line-height: 16px;
          margin-bottom: 0px; }
    .featured-websites-orbit .top-div-master .top-div-2 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .featured-websites-orbit .top-div-master .top-div-2 .user-icon {
        margin: 0px;
        -ms-flex-item-align: end;
        align-self: flex-end; }

.content-section-2 {
  margin-top: 100px; }

.landing-content h2 {
  margin: 0px 0px 30px -3px; }

@media screen and (min-width: 40em) {
  .landing-content-2 {
    padding: 50px 0px 0px 0px; } }

.landing-content-2-last {
  margin-top: 170px; }
