/*define variables */
$blue:#2699FB;
$lightblue: #BCE0FD;
$content: #303030;
$gray: #F5F8FB;
$red: #DA272D;
$gold: #FFD700;
$silver: #C0C0C0;
$bronze: #CC6633;
$darkgray: #D0D0D0;
$shadow: rgba(0, 0, 0, 0.16);

/* mixins */


/* document */

h1 {
  @extend .h1-opensans;
}

.content {
  @extend .p-opensans;
}

html {
  overflow-x: hidden;
}

body {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  background-color: $gray;
  overflow-x: hidden;
}

.grid-x {
  margin: 0px;
}

.grid-container {
  padding: 0px;
  margin: 0px;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

/* content styles */
.h1-opensans {
  text-transform: capitalize;
  color: $content;
  font-size: 40px;
  line-height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 0px;
}

.p-arial {
  color: $content;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 24px;
  font-weight: normal;
}

.p-opensans {
  color: $content;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-weight: normal;
}

.p-arial-bold {
  color: $content;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 24px;
  font-weight: bold;
}

.p-opensans-bold {
  color: $content;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-weight: bold;
}

.p-opensans-semibold {
  color: $content;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-weight: 600;
}

.p-arial-italic {
  color: $content;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 24px;
  font-weight: normal;
  font-style: italic;
}

.p-opensans-italic {
  color: $content;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-weight: normal;
  font-style: italic;
}

/* buttons */
.button-blue {
  height: 40px;
  width: 120px;
  border: 2px solid $blue;
  border-radius: 5px;
  text-align: center;
}

.button-blue-2 {
  height: 40px;
  background-color: $blue;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0px;
  .button-blue-2-text {
    @extend .p-arial-bold;
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}

.button-blue-3 {
  height: 40px;
  width: 105px;
  background-color: $blue;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0px;
  .button-blue-3-text {
    @extend .p-arial-bold;
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  @media only screen and (max-width: 40em) {
    width: 100%;
  }
}

.button-blue-3-icon {
  height: 40px;
  width: 105px;
  background-color: $blue;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0px;
  .button-blue-3-text {
    @extend .p-arial-bold;
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  @media only screen and (max-width: 40em) {
    width: 100%;
  }
}

/* input */
.input-1 {
  border: 1px solid $lightblue;
  height: 40px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: none;
  margin: 0px;
  @extend .p-opensans;
  ::placeholder {
    color: rgba(48,48,48,0.4);
  }
  &:focus {
    box-shadow: none;
    background-color: #FFFFFF;
    border: 1px solid $blue;
  }
}

.textfield-1 {
  border: 1px solid $lightblue;
  min-height: 120px;
  min-width: 190px;
  width: 100%;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: none;
  margin: 0px;
  @extend .p-opensans;
  ::placeholder {
    color: rgba(48,48,48,0.4);
  }
  &:focus {
    box-shadow: none;
    background-color: #FFFFFF;
    border: 1px solid $blue;
  }
}

/* elements */

.line-divider {
  border-bottom: 1px solid $shadow;
  width: 100%;
  height: 1px;
  margin: 5px auto;
}

/* header */

.top-bar {
  height: 110px;
  background-color: #FFFFFF;
  padding: 0 40px 0 40px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  z-index: 10 !important;
  position: fixed;
  a {
    .top-bar-logo img {
      width: 154px;
    }
  }
  .top-bar-right {
    ul {
      background-color: transparent;
      li a {
        text-decoration: none;
        font-family: Arial;
        font-weight: bold;
        color: #303030;
        font-size: 11px;
        text-transform: uppercase;
        line-height: 20px;
        .dropdown-last-element {
          padding-right: 38px;
        }
      }
    }
  }
  /* styled for mobile */
  .slide-in-left.mui-leave {
    transition-duration: 200ms !important;
    transition-timing-function: ease !important;
  }
  .slide-out-left.mui-leave {
    transition-duration: 200ms !important;
    transition-timing-function: ease-out !important;
  }
  @media screen and (max-width: 39.9375em) {
    a {
      .top-bar-logo img {
        width: 154px;
      }
    }
    .top-bar-right {
      position: absolute;
      top: 110px;
      left: 0;
      height: calc(100vh - 110px);
      width: 100vw;
      background-color: #FFFFFF;
      ul {
        background-color: transparent;
        li {
          width: 100%;
          text-align: center;
          a {
            text-decoration: none;
            font-family: Arial;
            font-weight: bold;
            color: #303030;
            font-size: 11px;
            text-transform: uppercase;
            line-height: 20px;
          }
        }
      }
    }
  }
}

.title-bar {
  background-color: transparent;
  .menu-icon {
    &::after {
      background: $content;
      box-shadow: 0 7px 0 $content, 0 14px 0 $content !important;
    }
  }
}


.dropdown.menu a {
  padding: 0.7rem 19px;
}

.login-btn {
  @extend .button-blue;
  margin-left: 19px;
  li a{
    padding: 0.7rem 0rem !important;
    line-height: 17px !important;
  }
}

.content-spacer {
  height: 110px;
  position: relative;
}

/* footer */
.footer-base {
  background-color: #FFFFFF;
  min-height: 240px;
  margin-top: 20px;
  .footer-grid {
    justify-content: space-between;
    margin: 0 auto;
    padding: 0px 5vw;
  }
  .footer-news-letter-wrap {
    margin: 52px 0px 0px 0px;
    p {
      @extend .p-opensans;
    }
    .p-heading {
      @extend .p-opensans-bold;
    }
    .footer-news-grid {
      max-width: 330px;
      margin: 0 auto;
      .submit-email-button {
        margin-left: 10px;
        @media only screen and (max-width: 40em) {
          margin-top: 15px;
          margin-left: 0px;
        }
      }
    }
  }
  .footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    margin-right: 5vw;
    max-width: 350px;
    .footer-ul {
      li {
        @extend .p-opensans-semibold;
        font-size: 11px;
        list-style-type: none;
        text-transform: uppercase;
      }
      .first-li {
        @extend .p-opensans-bold;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
    .mobile-nav-links {
      border-bottom: 1px solid $darkgray;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 30px;
      padding: 0px 5px;
      .first-li {
        @extend .p-opensans-bold;
        text-transform: uppercase;
        font-size: 13px;
        margin-top: 3px;
      }
      .link-expand {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-top: 5px;
        padding: 0px 4px 4px 4px;
        .fa-plus {
          font-size: 12px;
          transform: translateY(-2px);
        }
      }
    }
    .dropdown-pane {
      width: 100%;
      min-height: 30px;
      border: none;
      box-shadow: none;
      background-color: transparent;
      position: relative;
      padding: 10px 10px 0px 0px;
      top: 0px !important;
      left: 0px !important;
    }
  }
  .footer-links-mobile {
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 30px;
    justify-content: normal;
  }
}

.subscribe-button-text {
  @extend .button-blue-2-text;
}

.footer-secondary {
  background-color: $blue;
  min-height: 50px;
  .terms-conditions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .copyright-text {
      @extend .p-arial;
      color: #FFFFFF;
      font-size: 11px;
      line-height: 50px;
      padding: 0px;
      margin: 0px 0px 0px 46px;
    }
    .terms-conditions-text {
      display: flex;
      flex-direction: row;
      a, p {
        @extend .p-arial;
        line-height: 40px;
        color: #FFFFFF;
        font-size: 11px;
        padding: 5px;
        height: 14px;
      }
      .last {
        margin: 0px 46px 0px 0px;
      }
    }
  }
}


/* user icon */

.user-icon-84 {
  width: 84px;
  height: 84px;
  border-radius: 100%;
}

.user-icon-62 {
  width: 62px;
  height: 62px;
  border-radius: 100%;
}

.user-icon-48 {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

.user-icon-40 {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}