/*define variables */
/* includes */
/* content styles */
.h1-opensans {
  text-transform: capitalize;
  color: #303030;
  font-size: 40px;
  line-height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 0px; }

.p-arial, .footer-secondary .terms-conditions .copyright-text, .footer-secondary .terms-conditions .terms-conditions-text a, .footer-secondary .terms-conditions .terms-conditions-text p {
  color: #303030;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 24px;
  font-weight: normal; }

.p-opensans, .input-1, .footer-base .footer-news-letter-wrap p {
  color: #303030;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-weight: normal; }

.p-arial-bold, .button-blue-2-text, .subscribe-button-text {
  color: #303030;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 24px;
  font-weight: bold; }

.p-opensans-bold, .footer-base .footer-news-letter-wrap .p-heading, .footer-base .footer-links .footer-ul .first-li, .footer-base .footer-links .mobile-nav-links .first-li {
  color: #303030;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-weight: bold; }

.p-opensans-semibold, .footer-base .footer-links .footer-ul li {
  color: #303030;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-weight: 600; }

.p-arial-italic {
  color: #303030;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 24px;
  font-weight: normal;
  font-style: italic; }

.p-opensans-italic {
  color: #303030;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-weight: normal;
  font-style: italic; }

/* buttons */
.button-blue {
  height: 40px;
  width: 120px;
  border: 2px solid #2699FB;
  border-radius: 5px;
  text-align: center; }

.button-blue-2 {
  height: 40px;
  background-color: #2699FB;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0px; }

.button-blue-2-text, .subscribe-button-text {
  font-size: 11px;
  text-transform: uppercase;
  color: #FFFFFF; }

/* input */
.input-1 {
  border: 1px solid #BCE0FD;
  min-width: 210px;
  height: 40px;
  border-radius: 4px;
  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0px; }
  .input-1 ::-webkit-input-placeholder {
    color: rgba(48, 48, 48, 0.4); }
  .input-1 :-ms-input-placeholder {
    color: rgba(48, 48, 48, 0.4); }
  .input-1 ::-ms-input-placeholder {
    color: rgba(48, 48, 48, 0.4); }
  .input-1 ::placeholder {
    color: rgba(48, 48, 48, 0.4); }
  .input-1:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #FFFFFF;
    border: 1px solid #2699FB; }

/* footer */
.footer-base {
  background-color: #FFFFFF;
  min-height: 240px;
  margin-top: 70px; }
  .footer-base .footer-grid {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0px 5vw; }
  .footer-base .footer-news-letter-wrap {
    margin: 52px 0px 0px 0px; }
    .footer-base .footer-news-letter-wrap .footer-news-grid {
      max-width: 330px;
      margin: 0 auto;
      /* @media small-only {
        margin-left: 0;
      } */ }
      .footer-base .footer-news-letter-wrap .footer-news-grid .submit-email-button {
        margin-top: 15px; }
  .footer-base .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 50px;
    margin-right: 5vw;
    max-width: 350px; }
    .footer-base .footer-links .footer-ul li {
      font-size: 11px;
      list-style-type: none;
      text-transform: uppercase; }
    .footer-base .footer-links .footer-ul .first-li {
      text-transform: uppercase;
      font-size: 12px; }
    .footer-base .footer-links .mobile-nav-links {
      border-bottom: 1px solid #D0D0D0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      height: 30px;
      padding: 0px 5px; }
      .footer-base .footer-links .mobile-nav-links .first-li {
        text-transform: uppercase;
        font-size: 13px;
        margin-top: 3px; }
      .footer-base .footer-links .mobile-nav-links .link-expand {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-top: 5px;
        padding: 0px 4px 4px 4px; }
        .footer-base .footer-links .mobile-nav-links .link-expand .fa-plus {
          font-size: 12px;
          -webkit-transform: translateY(-2px);
          -ms-transform: translateY(-2px);
          transform: translateY(-2px); }
    .footer-base .footer-links .dropdown-pane {
      width: 100%;
      min-height: 30px;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: transparent;
      position: relative;
      padding: 10px 10px 0px 5vw;
      top: 0px !important;
      left: 0px !important; }
  .footer-base .footer-links-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 30px;
    -webkit-box-pack: normal;
    -ms-flex-pack: normal;
    justify-content: normal; }

.footer-secondary {
  background-color: #2699FB;
  min-height: 50px; }
  .footer-secondary .terms-conditions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .footer-secondary .terms-conditions .copyright-text {
      color: #FFFFFF;
      font-size: 11px;
      line-height: 50px;
      padding: 0px;
      margin: 0px 0px 0px 46px; }
    .footer-secondary .terms-conditions .terms-conditions-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .footer-secondary .terms-conditions .terms-conditions-text a, .footer-secondary .terms-conditions .terms-conditions-text p {
        line-height: 40px;
        color: #FFFFFF;
        font-size: 11px;
        padding: 5px;
        height: 14px; }
      .footer-secondary .terms-conditions .terms-conditions-text .last {
        margin: 0px 46px 0px 0px; }

/* user icon */
.user-icon-84 {
  width: 84px;
  height: 84px;
  border-radius: 100%; }

.user-icon-48 {
  width: 48px;
  height: 48px;
  border-radius: 100%; }
