/*define variables */
/* mixins */
/* document */
html {
  overflow-x: hidden; }

body {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  background-color: #F5F8FB;
  overflow-x: hidden; }

.grid-x {
  margin: 0px; }

.grid-container {
  padding: 0px;
  margin: 0px;
  width: 100%;
  max-width: 100%;
  min-width: 100%; }

/* content styles */
.h1-opensans, h1 {
  text-transform: capitalize;
  color: #303030;
  font-size: 40px;
  line-height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding: 0px; }

.p-arial, .footer-secondary .terms-conditions .copyright-text, .footer-secondary .terms-conditions .terms-conditions-text a, .footer-secondary .terms-conditions .terms-conditions-text p, .login-container form .invalid-submit {
  color: #303030;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 24px;
  font-weight: normal; }

.p-opensans, .content, .input-1, .login-container form .user-input, .textfield-1, .footer-base .footer-news-letter-wrap p, .login-container form label {
  color: #303030;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-weight: normal; }

.p-arial-bold, .button-blue-2 .button-blue-2-text, .button-blue-2 .subscribe-button-text, .button-blue-3 .button-blue-3-text, .button-blue-3-icon .button-blue-3-text, .login-container form .submit-wrap .signup-button, .login-container form .submit-wrap .register-button p {
  color: #303030;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 24px;
  font-weight: bold; }

.p-opensans-bold, .footer-base .footer-news-letter-wrap .p-heading, .footer-base .footer-links .footer-ul .first-li, .footer-base .footer-links .mobile-nav-links .first-li {
  color: #303030;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-weight: bold; }

.p-opensans-semibold, .footer-base .footer-links .footer-ul li {
  color: #303030;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-weight: 600; }

.p-arial-italic {
  color: #303030;
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 24px;
  font-weight: normal;
  font-style: italic; }

.p-opensans-italic {
  color: #303030;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-weight: normal;
  font-style: italic; }

/* buttons */
.button-blue, .login-btn {
  height: 40px;
  width: 120px;
  border: 2px solid #2699FB;
  border-radius: 5px;
  text-align: center; }

.button-blue-2 {
  height: 40px;
  background-color: #2699FB;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0px; }
  .button-blue-2 .button-blue-2-text, .button-blue-2 .subscribe-button-text {
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF; }

.button-blue-3 {
  height: 40px;
  width: 105px;
  background-color: #2699FB;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0px; }
  .button-blue-3 .button-blue-3-text {
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF; }
  @media only screen and (max-width: 40em) {
    .button-blue-3 {
      width: 100%; } }

.button-blue-3-icon {
  height: 40px;
  width: 105px;
  background-color: #2699FB;
  border-radius: 4px;
  text-align: center;
  padding: 8px 0px; }
  .button-blue-3-icon .button-blue-3-text {
    font-size: 11px;
    text-transform: uppercase;
    color: #FFFFFF; }
  @media only screen and (max-width: 40em) {
    .button-blue-3-icon {
      width: 100%; } }

/* input */
.input-1, .login-container form .user-input {
  border: 1px solid #BCE0FD;
  height: 40px;
  border-radius: 4px;
  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0px; }
  .input-1 ::-webkit-input-placeholder, .login-container form .user-input ::-webkit-input-placeholder {
    color: rgba(48, 48, 48, 0.4); }
  .input-1 :-ms-input-placeholder, .login-container form .user-input :-ms-input-placeholder {
    color: rgba(48, 48, 48, 0.4); }
  .input-1 ::-ms-input-placeholder, .login-container form .user-input ::-ms-input-placeholder {
    color: rgba(48, 48, 48, 0.4); }
  .input-1 ::placeholder, .login-container form .user-input ::placeholder {
    color: rgba(48, 48, 48, 0.4); }
  .input-1:focus, .login-container form .user-input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #FFFFFF;
    border: 1px solid #2699FB; }

.textfield-1 {
  border: 1px solid #BCE0FD;
  min-height: 120px;
  min-width: 190px;
  width: 100%;
  border-radius: 4px;
  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0px; }
  .textfield-1 ::-webkit-input-placeholder {
    color: rgba(48, 48, 48, 0.4); }
  .textfield-1 :-ms-input-placeholder {
    color: rgba(48, 48, 48, 0.4); }
  .textfield-1 ::-ms-input-placeholder {
    color: rgba(48, 48, 48, 0.4); }
  .textfield-1 ::placeholder {
    color: rgba(48, 48, 48, 0.4); }
  .textfield-1:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #FFFFFF;
    border: 1px solid #2699FB; }

/* elements */
.line-divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  width: 100%;
  height: 1px;
  margin: 5px auto; }

/* header */
.top-bar {
  height: 110px;
  background-color: #FFFFFF;
  padding: 0 40px 0 40px;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  z-index: 10 !important;
  position: fixed;
  /* styled for mobile */ }
  .top-bar a .top-bar-logo img {
    width: 154px; }
  .top-bar .top-bar-right ul {
    background-color: transparent; }
    .top-bar .top-bar-right ul li a {
      text-decoration: none;
      font-family: Arial;
      font-weight: bold;
      color: #303030;
      font-size: 11px;
      text-transform: uppercase;
      line-height: 20px; }
      .top-bar .top-bar-right ul li a .dropdown-last-element {
        padding-right: 38px; }
  .top-bar .slide-in-left.mui-leave {
    -webkit-transition-duration: 200ms !important;
    -o-transition-duration: 200ms !important;
    transition-duration: 200ms !important;
    -webkit-transition-timing-function: ease !important;
    -o-transition-timing-function: ease !important;
    transition-timing-function: ease !important; }
  .top-bar .slide-out-left.mui-leave {
    -webkit-transition-duration: 200ms !important;
    -o-transition-duration: 200ms !important;
    transition-duration: 200ms !important;
    -webkit-transition-timing-function: ease-out !important;
    -o-transition-timing-function: ease-out !important;
    transition-timing-function: ease-out !important; }
  @media screen and (max-width: 39.9375em) {
    .top-bar a .top-bar-logo img {
      width: 154px; }
    .top-bar .top-bar-right {
      position: absolute;
      top: 110px;
      left: 0;
      height: calc(100vh - 110px);
      width: 100vw;
      background-color: #FFFFFF; }
      .top-bar .top-bar-right ul {
        background-color: transparent; }
        .top-bar .top-bar-right ul li {
          width: 100%;
          text-align: center; }
          .top-bar .top-bar-right ul li a {
            text-decoration: none;
            font-family: Arial;
            font-weight: bold;
            color: #303030;
            font-size: 11px;
            text-transform: uppercase;
            line-height: 20px; } }

.title-bar {
  background-color: transparent; }
  .title-bar .menu-icon::after {
    background: #303030;
    -webkit-box-shadow: 0 7px 0 #303030, 0 14px 0 #303030 !important;
    box-shadow: 0 7px 0 #303030, 0 14px 0 #303030 !important; }

.dropdown.menu a {
  padding: 0.7rem 19px; }

.login-btn {
  margin-left: 19px; }
  .login-btn li a {
    padding: 0.7rem 0rem !important;
    line-height: 17px !important; }

.content-spacer {
  height: 110px;
  position: relative; }

/* footer */
.footer-base {
  background-color: #FFFFFF;
  min-height: 240px;
  margin-top: 20px; }
  .footer-base .footer-grid {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0px 5vw; }
  .footer-base .footer-news-letter-wrap {
    margin: 52px 0px 0px 0px; }
    .footer-base .footer-news-letter-wrap .footer-news-grid {
      max-width: 330px;
      margin: 0 auto; }
      .footer-base .footer-news-letter-wrap .footer-news-grid .submit-email-button {
        margin-left: 10px; }
        @media only screen and (max-width: 40em) {
          .footer-base .footer-news-letter-wrap .footer-news-grid .submit-email-button {
            margin-top: 15px;
            margin-left: 0px; } }
  .footer-base .footer-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 50px;
    margin-right: 5vw;
    max-width: 350px; }
    .footer-base .footer-links .footer-ul li {
      font-size: 11px;
      list-style-type: none;
      text-transform: uppercase; }
    .footer-base .footer-links .footer-ul .first-li {
      text-transform: uppercase;
      font-size: 12px; }
    .footer-base .footer-links .mobile-nav-links {
      border-bottom: 1px solid #D0D0D0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      height: 30px;
      padding: 0px 5px; }
      .footer-base .footer-links .mobile-nav-links .first-li {
        text-transform: uppercase;
        font-size: 13px;
        margin-top: 3px; }
      .footer-base .footer-links .mobile-nav-links .link-expand {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-top: 5px;
        padding: 0px 4px 4px 4px; }
        .footer-base .footer-links .mobile-nav-links .link-expand .fa-plus {
          font-size: 12px;
          -webkit-transform: translateY(-2px);
          -ms-transform: translateY(-2px);
          transform: translateY(-2px); }
    .footer-base .footer-links .dropdown-pane {
      width: 100%;
      min-height: 30px;
      border: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: transparent;
      position: relative;
      padding: 10px 10px 0px 0px;
      top: 0px !important;
      left: 0px !important; }
  .footer-base .footer-links-mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 30px;
    -webkit-box-pack: normal;
    -ms-flex-pack: normal;
    justify-content: normal; }

.footer-secondary {
  background-color: #2699FB;
  min-height: 50px; }
  .footer-secondary .terms-conditions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .footer-secondary .terms-conditions .copyright-text {
      color: #FFFFFF;
      font-size: 11px;
      line-height: 50px;
      padding: 0px;
      margin: 0px 0px 0px 46px; }
    .footer-secondary .terms-conditions .terms-conditions-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .footer-secondary .terms-conditions .terms-conditions-text a, .footer-secondary .terms-conditions .terms-conditions-text p {
        line-height: 40px;
        color: #FFFFFF;
        font-size: 11px;
        padding: 5px;
        height: 14px; }
      .footer-secondary .terms-conditions .terms-conditions-text .last {
        margin: 0px 46px 0px 0px; }

/* user icon */
.user-icon-84 {
  width: 84px;
  height: 84px;
  border-radius: 100%; }

.user-icon-62 {
  width: 62px;
  height: 62px;
  border-radius: 100%; }

.user-icon-48 {
  width: 48px;
  height: 48px;
  border-radius: 100%; }

.user-icon-40 {
  width: 40px;
  height: 40px;
  border-radius: 100%; }

.hidden {
  display: none; }

.login-container {
  margin: 15px auto 0px auto !important;
  min-height: 520px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  background-color: #FFFFFF;
  width: 100%;
  padding: 72px 10% 62px 10%;
  text-align: center; }
  .login-container form {
    text-align: left; }
    .login-container form .email-input-label {
      margin-top: 35px; }
    .login-container form .pwd-input-label {
      margin-top: 20px; }
    .login-container form .pwd-input-label-2 {
      margin-top: 20px; }
    .login-container form .invalid-input {
      border: 1px #D40D12 solid !important; }
    .login-container form .valid-input {
      border: 1px #36BA45 solid !important; }
    .login-container form .inactive-cross-icon, .login-container form .inactive-check-icon {
      display: none; }
    .login-container form .input-wrap {
      position: relative; }
    .login-container form .icon-wrap {
      position: absolute;
      right: 20px;
      top: 10px; }
    .login-container form .invalid-input-icon {
      color: #D40D12; }
    .login-container form .valid-input-icon {
      color: #36BA45; }
    .login-container form .invalid-submit {
      width: 100%;
      position: relative;
      min-height: 12px;
      background-color: #DA272D;
      font-size: 0.7em;
      color: #ffffff;
      padding: 1px 3px;
      display: block; }
    .login-container form .submit-wrap {
      margin-top: 25px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .login-container form .submit-wrap .signup-button {
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 40px;
        width: calc(50% - 5px);
        background-color: #2699FB;
        border-radius: 4px;
        text-align: center;
        padding: 8px 0px;
        margin-right: 5px;
        cursor: pointer;
        border: none;
        font-size: 11px;
        text-transform: uppercase;
        color: #FFFFFF; }
        .login-container form .submit-wrap .signup-button:focus {
          -webkit-box-shadow: none;
          box-shadow: none;
          background-color: #FFFFFF;
          border: 1px solid #2699FB; }
        @media only screen and (max-width: 40em) {
          .login-container form .submit-wrap .signup-button {
            width: 100%; } }
      .login-container form .submit-wrap .register-button {
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        height: 40px;
        width: calc(50% - 5px);
        background-color: #C2C2C2;
        border-radius: 4px;
        text-align: center;
        padding: 8px 0px;
        margin-left: 5px;
        cursor: pointer; }
        .login-container form .submit-wrap .register-button p {
          font-size: 11px;
          text-transform: uppercase;
          color: #FFFFFF; }
        .login-container form .submit-wrap .register-button:focus {
          -webkit-box-shadow: none;
          box-shadow: none; }
        @media only screen and (max-width: 40em) {
          .login-container form .submit-wrap .register-button {
            width: 100%; } }
    .login-container form .forgot-password-wrap {
      margin-top: 30px;
      text-align: center;
      width: 100%; }
      .login-container form .forgot-password-wrap .forgot-password-link {
        margin: 0 auto;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.4);
        line-height: 0px; }
