@import "backbone.scss";

.hidden {
  display: none;
}

.login-container {
  margin: 15px auto 0px auto !important;
  min-height: 520px;
  border-radius: 5px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
  background-color: #FFFFFF;
  width: 100%;
  padding: 72px 10% 62px 10%;
  text-align: center;
  form {
    text-align: left;
    .email-input-label {
      margin-top: 35px;
    }
    .pwd-input-label {
      margin-top: 20px;
    }
    .pwd-input-label-2 {
      margin-top: 20px;
    }
    label {
      @extend .p-opensans;
    }
    .user-input {
      @extend .input-1;
    }
    .invalid-input {
      border: 1px #D40D12 solid !important;
    }
    .valid-input {
      border: 1px #36BA45 solid !important;
    }
    .inactive-cross-icon, .inactive-check-icon {
      display: none;
    }
    .input-wrap {
      position: relative;
    }
    .icon-wrap {
      position: absolute;
      right: 20px;
      top: 10px;
    }
    .invalid-input-icon {
      color: #D40D12;
    }
    .valid-input-icon {
      color: #36BA45;
    }
    .invalid-submit{
      @extend .p-arial;
      width: 100%;
      position: relative;
      min-height: 12px;
      background-color: #DA272D;
      font-size: 0.7em;
      color: #ffffff;
      padding: 1px 3px;
      display: block;
    }
    .submit-wrap {
      margin-top: 25px;
      display: flex;
      flex-direction: row;
      .signup-button {
        box-shadow: none;
        height: 40px;
        width: calc(50% - 5px);
        background-color: $blue;
        border-radius: 4px;
        text-align: center;
        padding: 8px 0px;
        margin-right: 5px;
        cursor: pointer;
        border: none;
        @extend .p-arial-bold;
        font-size: 11px;
        text-transform: uppercase;
        color: #FFFFFF;
        &:focus {
          box-shadow: none;
          background-color: #FFFFFF;
          border: 1px solid $blue;
        }
        @media only screen and (max-width: 40em) {
          width: 100%;
        }
      }
      .register-button {
        box-shadow: none;
        border: none;
        height: 40px;
        width: calc(50% - 5px);
        background-color: #C2C2C2;
        border-radius: 4px;
        text-align: center;
        padding: 8px 0px;
        margin-left: 5px;
        cursor: pointer;
        p {
          @extend .p-arial-bold;
          font-size: 11px;
          text-transform: uppercase;
          color: #FFFFFF;
        }
        &:focus {
          box-shadow: none;
        }
        @media only screen and (max-width: 40em) {
          width: 100%;
        }
      }
    }
    .forgot-password-wrap {
      margin-top: 30px;
      text-align: center;
      width: 100%;
      .forgot-password-link {
        margin: 0 auto;
        font-size: 12px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        color: rgba(0, 0, 0, 0.40);
        line-height: 0px;
      }
    }
  }
}






